{{- include "levoai.validatesecrets" . }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: levoai-ion
  labels:
    app: levoai-ion
    release: {{ .Release.Name }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      app: levoai-ion
  template:
    metadata:
    {{- /*
    # https://helm.sh/docs/howto/charts_tips_and_tricks/#automatically-roll-deployments
    */}}
    {{- with deepCopy .Values.global.podAnnotations | mustMerge (dict "checksum/config" (include (print $.Template.BasePath "/configmap-env.yaml") . | toString | sha256sum)) }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        app: levoai-ion
        release: {{ .Release.Name }}
    spec:
      {{- with (default .Values.image.pullSecrets .Values.global.imagePullSecrets) }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if or .Values.global.useRabbitmq .Values.global.useKafka }}
      initContainers:
        {{- if .Values.global.useRabbitmq }}
        - name: wait-for-rabbitmq
          image: {{ default .Values.image.registry .Values.global.imageRegistry }}/{{ .Values.global.busyboxImage }}
          env:
            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: levoai-rabbitmq-auth
                  key: rabbitmq-username
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: levoai-rabbitmq-auth
                  key: rabbitmq-password
          command: [ 'sh', '-c', 'until wget -qO- http://$RABBITMQ_USERNAME:$RABBITMQ_PASSWORD@levoai-rabbitmq:15672/api/health/checks/virtual-hosts &> /dev/null; do echo waiting for rabbitmq; sleep 2; done;' ]
        {{- end }}
        {{- if .Values.global.useKafka }}
        - name: wait-for-kafka-and-create-topics
          image: "{{ default .Values.image.registry .Values.global.imageRegistry }}/{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          command: ['python', '-OO']
          args:
            - /opt/levoai/e7s/src/python/levoai_e7s/kafka_utils/kafka_topic_manager.py
          envFrom:
            - configMapRef:
                name: levoai-ion-env
        {{- end }}
      {{- end }}
      containers:
        - name: levoai-ion
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ default .Values.image.registry .Values.global.imageRegistry }}/{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
          {{- if .Values.otel.enabled }}
              - opentelemetry-instrument
          {{- end}}
              - python
              - "-OO"
              - /opt/levoai/e7s/src/python/levoai_ion/ion_server.py
          {{- if .Values.livenessProbeEnabled }}
          livenessProbe:
            exec:
              command:
                - /opt/levoai/common-public/src/python/levoai_common_public/monitoring/test_health_file.sh
            initialDelaySeconds: 30
            periodSeconds: 125
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 50
          {{- end }}
          envFrom:
          - configMapRef:
              name: levoai-ion-env
          env:
            {{- if .Values.env }}
              {{- toYaml .Values.env | nindent 12 }}
            {{- end }}
            {{- if .Values.otel.enabled }}
              {{- range $key, $value := .Values.otel.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
              {{- end }}
            {{- end }}
            - name: OTEL_ENABLED
              value: {{ .Values.otel.enabled | quote }}
            - name: LEVOAI_AUTH_KEY
              valueFrom:
                secretKeyRef:
                  name: levoai-satellite
                  key: refresh-token
            - name: LEVOAI_MULTI_TENANCY_ENABLED
              value: {{ (default .Values.global.multiTenancyEnabled .Values.multiTenancyEnabled) | default false | quote }}
            {{- if .Values.global.useRabbitmq }}
            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: levoai-rabbitmq-auth
                  key: rabbitmq-username
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: levoai-rabbitmq-auth
                  key: rabbitmq-password
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.global.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
