apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "protection.name" . }}-nginx
data:
  nginx.conf: |
    worker_processes  1;
    events {
        worker_connections  1024;
    }

    http {
        include       mime.types;
        default_type  application/json;

        # Logging
        access_log /var/log/nginx/access.log;
        error_log  /var/log/nginx/error.log;

        # Enable ModSecurity
        modsecurity on;
        modsecurity_rules_file /etc/nginx/modsec/main.conf;

        include /etc/nginx/conf.d/*.conf;

        # server {
        #     listen 443 ssl;
        #     server_name localhost;

        #     location / {
        #         proxy_pass http://example.com;  # Replace with your backend
        #     }
        # }

        # # Lua scripts for protection
        #     access_by_lua_block {
        #         dofile("/etc/nginx/lua/sample.lua")
        #     }

        #     ssl_certificate /etc/nginx/certs/localhost/cert.pem;
        #     ssl_certificate_key /etc/nginx/certs/localhost/key.pem;

        #     location / {
        #         proxy_pass http://example.com;  # Replace with your backend
        #     }
        # }
    }

